Repository brikdigital/craft-baseplate: changes, and which lefthook commands are due for each by the changed paths.
All: format, check, tsc

lefthook.yml:

pre-commit:
  piped: true
  commands:
    format:
      priority: 1
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,twig,css,pcss,json,jsonc,yml}'
      run: ddev exec npx prettier --write {staged_files} && git update-index --again
    check:
      priority: 2
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}'
      run:
        biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
        --vcs-use-ignore-file=true {staged_files} && git update-index --again
    tsc:
      priority: 3
      glob: '*.{ts,d.cts,d.mts,tsx}'
      run: ddev exec npx tsc --noemit

Add some consistency to storybook
  templates/components/atoms/badge/badge.stories.json
  templates/components/atoms/button/button.stories.json
  templates/components/atoms/icon/icon.stories.json
  templates/components/molecules/card/card.stories.json
  templates/components/molecules/slider/slider.stories.json
Due: format

Resync the composer files
  Makefile
  composer.json.default
Due: none

Update button
  templates/components/atoms/button/button.twig
Due: format

Clean up index.twig
  templates/index.twig
Due: format

Update badge atom code
  templates/_components/atoms/badge/badge.twig
Due: format

Upgrade Storybook to 8.3.6 and run automigrations
  .storybook/main.js
  .storybook/preview.js
  package.json
  pnpm-lock.yaml
Due: format, check

Upgrade Storybook to 8.4.4 and run automigrations
  package.json
  pnpm-lock.yaml
Due: format

Add some default VSCode extensions
  .vscode/extensions.json
  .vscode/settings.json
Due: format

Add the Remark GFM extension to Storybook
  .storybook/main.js
  package.json
  pnpm-lock.yaml
Due: format, check

Add very basic content block loader
  templates/_blocks/textMedia.twig
  templates/_components/blocks.twig
Due: format

Add Alpine component
  package.json
  pnpm-lock.yaml
  src/ts/app.ts
  src/ts/components/alpine.ts
  tsconfig.json
Due: format, check, tsc

Add stories to video
  templates/_components/molecules/videoPlayer/videoPlayer.stories.json
Due: format

Add the composer-patches-regex plugin
  composer.json
  composer.lock
Due: format

Double down on blocking crawlers in Storybook
  .storybook/manager-head.html
Due: none

Upgrade Storybook & sync back from CDA
  .storybook/main.js
  .storybook/preview.js
  package.json
  pnpm-lock.yaml
Due: format, check

Update @storybook/blocks patch
  patches/@storybook__blocks.patch
  pnpm-lock.yaml
Due: none

Add defaultValue powered code example to Storybook
  .storybook/DefaultInclude.tsx
Due: format, check, tsc

Fix a simple type error
  .storybook/DefaultInclude.tsx
Due: format, check, tsc

No with block for argless templates
  .storybook/DefaultInclude.tsx
Due: format, check, tsc

Add a basic "Skip to content" component
  src/pcss/app.pcss
  tailwind.config.ts
  templates/_components/atoms/skipToContent/skipToContent.mdx
  templates/_components/atoms/skipToContent/skipToContent.stories.json
  templates/_components/atoms/skipToContent/skipToContent.twig
  templates/_layouts/default.twig
Due: format, check, tsc

Automatically guess the first element to skip to
  src/ts/app.ts
  src/ts/components/skipToContent.ts
  templates/_components/atoms/skipToContent/skipToContent.twig
Due: format, check, tsc

Add aria=“disabled” to button icons
  templates/_components/atoms/button/button.twig
Due: format

Apply spaceless to whole buttons
  templates/_components/atoms/button/button.twig
Due: format

Fix container width
  tailwind.config.ts
Due: format, check, tsc

Upgrade Composer dependencies
  .env.example.dev
  composer.json
  composer.json.default
  composer.lock
  config/project/project.yaml
Due: format

Upgrades & backports
  composer.json
  composer.lock
  config/general.php
  config/imager-x-imageboss-transformer.php
  config/imager-x-transforms.php
  config/imager-x.php
  config/project/formie/statuses/new--dbd31f29-8b03-46f8-819a-181826ff96c0.yaml
  config/project/formie/stencils/contactForm--65bb950b-bf8c-46a5-b2d3-8fa38ea6f215.yaml
  config/project/project.yaml
  config/wordsmith.php
  modules/site-module/controllers/StorybookController.php
  templates/_layouts/default.twig
  templates/_layouts/storybook.twig
Due: format

Resync the result composer.json with the repo's
  composer.json.default
Due: none

Fix package name
  composer.json
Due: format

Bump to DDEV 1.24.4 & pnpm 10
  .ddev/config.yaml
  config/imager-x-imageboss-transformer.php
  package.json
  pnpm-lock.yaml
Due: format

Add pnpm config
  package.json
  pnpm-workspace.yaml
Due: format

Craft CMS CVE-2024-4990 update
  composer.json
  composer.lock
Due: format

Upgrade Craft to 5.7.11 and update plugins
  composer.json
  composer.json.default
  composer.lock
  config/project/entryTypes/pages--87add8ee-18cc-4272-8a4c-4fd06d16ec25.yaml
  config/project/fields/media--afce72fb-dcb9-42e3-99d5-a4e1b6c32d71.yaml
  config/project/project.yaml
  config/project/sections/pages--b7fa6983-cbe4-435a-a345-b065911c3442.yaml
Due: format

Some project config management
  config/project/project.yaml
  config/project/sections/articleType--b20babee-2b3a-4f80-9384-15e7b592cdc9.yaml
  config/project/sections/articles--db6df807-fdb5-4bef-a3f5-2ebb6800c0bd.yaml
  config/project/sections/articlesIndex--82231ea7-a108-43d6-9a7a-78b4b9297fb2.yaml
  config/project/sections/errorPages--edb6d78c-27f5-4522-852d-2df53429bb71.yaml
  config/project/sections/homepage--0619bf3f-de22-4525-8261-a10f5454eee0.yaml
  config/project/sections/pages--b7fa6983-cbe4-435a-a345-b065911c3442.yaml
  config/project/sections/sharedBlocks--f9a50eaa-e4c7-4211-bfda-4797859199e9.yaml
  config/project/sites/defaultEn--a0934f1f-fd61-4f48-ae9a-3afec428cafe.yaml
Due: none

Install Ignition and tidy up
  .env.example.dev
  .project.gitignore
  composer.json
  composer.lock
  config/license.key
  config/project/project.yaml
Due: format

Upgrade Storybook to v9
  .gitignore
  .storybook/DefaultInclude.tsx
  .storybook/Tool.tsx
  .storybook/main.js
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.js
  package.json
  patches/@storybook__addon-docs.patch
  patches/@storybook__blocks.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  templates/_components/atoms/badge/badge.mdx
  templates/_components/atoms/button/button.mdx
  templates/_components/atoms/divider/divider.mdx
  templates/_components/atoms/heading/heading.mdx
  templates/_components/atoms/icon/icon.mdx
  templates/_components/atoms/image/image.mdx
  templates/_components/atoms/logo/logo.mdx
  templates/_components/atoms/preHeading/preHeading.mdx
  templates/_components/atoms/skipToContent/skipToContent.mdx
  templates/_components/atoms/text/text.mdx
  templates/_components/atoms/video/video.mdx
  templates/_components/molecules/card/card.mdx
  templates/_components/molecules/heading/heading.mdx
  templates/_components/molecules/slider/slider.mdx
  templates/_components/molecules/videoPlayer/videoPlayer.mdx
  templates/_components/organisms/textMedia/textMedia.mdx
Due: format, check, tsc

Bump pnpm to v10.12.4
  package.json
Due: format

Migrate to vite-rolldown
  package.json
  pnpm-lock.yaml
  src/pcss/components/videoPlayer.pcss
  vite.config.mjs
Due: format, check

Partially migrate to Tailwind v4
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.js
  src/pcss/app.pcss
  src/pcss/components/tailwind.pcss
  tailwind.config.ts
  vite.config.mjs
Due: format, check, tsc
