Repository brikdigital/craft-baseplate: changes, and which lefthook commands are due for each by the changed paths.
All: format, check, tsc

format:
  priority: 1
  run: ddev pnpm prettier --write {staged_files} && git update-index --again

check:
  priority: 2
  run: ddev pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --vcs-use-ignore-file=true {staged_files} && git update-index --again

tsc:
  priority: 3
  run: ddev pnpm tsc --noemit

Vendor Datastar
  lefthook.yml
  src/ts/app.ts
  src/ts/components/datastar-inspector.ts
  src/ts/components/datastar.ts
  src/ts/vendored/datastar-inspector.js
  src/ts/vendored/datastar-pro.js
Due: format, check, tsc

Add the offcanvas system
  templates/_layouts/default.twig
  templates/_partials/offcanvas.twig
Due: none

add tailwind 4 css files
  src/pcss/tailwind4setup/app.css
  src/pcss/tailwind4setup/colors.css
  src/pcss/tailwind4setup/container.css
  src/pcss/tailwind4setup/spacing.css
  src/pcss/tailwind4setup/typography.css
  src/ts/components/swiper.ts
  templates/_blocks/images.twig
  templates/_components/atoms/button/swiperButtons.twig
  templates/_macros/retcon.twig
Due: format, check, tsc

remove some old plugins
  composer.json
  composer.lock
  config/project/entryTypes/articleType--bc6369ec-7f21-4151-a8ad-85cec976c987.yaml
  config/project/entryTypes/articles--54058ce4-020d-4535-9931-d69993419df7.yaml
  config/project/entryTypes/event--aa444200-2ca2-44f0-b001-737e424c99a8.yaml
  config/project/entryTypes/eventsIndex--34e6d645-f593-49c5-bbed-6e80bd5b8fd4.yaml
  config/project/project.yaml
  config/project/sections/events--ae59b117-731a-4efe-83b6-33186b75a174.yaml
  config/project/sections/indexes--6548b4e4-c92a-4820-8d2f-065cbf1bda66.yaml
Due: format

Reroll the plugin licenses
  config/project/project.yaml
Due: none

At long last, brik-digital -> brikdigital
  composer.json
  composer.lock
Due: format

Install maintenance-lock
  composer.json
  composer.lock
  config/project/project.yaml
Due: format

Mark vendored JS files as linguist-ignored
  .gitattributes
Due: none

Add default lang and collation
  config/general.php
Due: none

Remove CSRF from head
  templates/_layouts/default.twig
  templates/_layouts/storybook.twig
Due: none

Always load CSRF inputs asynchronously in case of caching
  config/general.php
Due: none

Update knock-knock.php
  config/knock-knock.php
Due: none

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,mdx,css,pcss,json,jsonc,yml}
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  tsc: any of: *.{ts,d.cts,d.mts,tsx}
