Repository brikdigital/craft-baseplate: changes, and which lefthook commands are due for each by the changed paths.
All: format, check, tsc

lefthook.yml:

pre-commit:
  piped: true
  commands:
    format:
      priority: 1
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,twig,css,pcss,json,jsonc,yml}'
      run: ddev exec npx prettier --write {staged_files} && git update-index --again
    check:
      priority: 2
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}'
      run:
        biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
        --vcs-use-ignore-file=true {staged_files} && git update-index --again
    tsc:
      priority: 3
      glob: '*.{ts,d.cts,d.mts,tsx}'
      run: ddev exec npx tsc --noemit

*Actually* set up Tailwind sorting
  package.json
  pnpm-lock.yaml
  prettier.config.js
  templates/_components/atoms/skipToContent/skipToContent.twig
  templates/_components/molecules/slider/slider.twig
  templates/_components/organisms/textMedia/textMedia.twig
Due: format, check

Re-add the Storybook Marker plugin
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  vite.config.mjs
Due: format, check, tsc

Upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: format

Bump Craft
  composer.json
  composer.lock
  config/general.php
  config/project/icon-picker/icon-sets/root--12976062-797d-4c3f-bba9-b08f9517d734.yaml
  config/project/project.yaml
  config/project/sites/default--edd82513-9dec-4df9-a2a1-300da844a91f.yaml
  config/project/sites/defaultEn--a0934f1f-fd61-4f48-ae9a-3afec428cafe.yaml
Due: format

Fix composer
  composer.json
Due: format

Set the correct timezone
  config/general.php
Due: none

Migrate the Biome config to v2
  biome.json
Due: format

Bump npm dependencies
  lefthook.yml
  package.json
  patches/@storybook__addon-docs.patch
  pnpm-lock.yaml
Due: format

Minor changes
  .env.example.dev
  config/project/project.yaml
  lefthook.yml
Due: format

Manually register Ignition
  composer.json
  composer.lock
  config/app.web.php
  config/project/project.yaml
Due: format

Change first setup of blocks
  .ddev/.env.web
  composer.json
  config/icon-picker.php
  config/project/entryTypes/articleType--bc6369ec-7f21-4151-a8ad-85cec976c987.yaml
  config/project/entryTypes/articles--54058ce4-020d-4535-9931-d69993419df7.yaml
  config/project/entryTypes/articlesGrid--74716a14-5d9a-4002-bc77-51f38589d539.yaml
  config/project/entryTypes/articlesIndex--1bf7f973-b634-4c7e-adbc-e71f1a4c70f8.yaml
  config/project/entryTypes/buttons--596b60e6-cde4-48fb-9853-a567dcb99ece.yaml
  config/project/entryTypes/errorPagese--5ec318c4-b6f4-4a56-92a5-f9b7edfbb635.yaml
  config/project/entryTypes/event--aa444200-2ca2-44f0-b001-737e424c99a8.yaml
  config/project/entryTypes/eventIndex--34e6d645-f593-49c5-bbed-6e80bd5b8fd4.yaml
  config/project/entryTypes/images--25165387-9136-4739-86cb-59a989b1c003.yaml
  config/project/entryTypes/pages--87add8ee-18cc-4272-8a4c-4fd06d16ec25.yaml
  config/project/entryTypes/quote--e325439d-f974-4c27-a2d9-2fe44cce12bb.yaml
  config/project/entryTypes/text--c957c2ee-ff8a-4973-8111-58c21b775495.yaml
  config/project/entryTypes/textMedia--cffde261-31c9-424a-9d39-86be6078c848.yaml
  config/project/entryTypes/videos--b5386dfa-66c8-4d08-bbcc-38503a3862c9.yaml
  config/project/fields/blocks--8d87bf9f-8546-434b-a971-6407e109f8aa.yaml
  config/project/fields/body--437963f6-fffc-4014-921d-e13fd7b2315f.yaml
  config/project/fields/button--c6a1c79f-c8b3-46ea-ba09-ccb521dd8e22.yaml
  config/project/fields/buttonTheme--35872b14-d347-4e31-889e-b505340c4704.yaml
  config/project/fields/eventDate--d1928b4f-7613-41fb-9e2b-4756e2c31adb.yaml
  config/project/fields/iconPicker--dcaf6647-c88d-48cf-adf6-9b3e1d3150b1.yaml
  config/project/fields/iconPosition--7990d129-e4e9-488d-b9ca-0347364425e1.yaml
  config/project/fields/imageRatio--767c68f7-a42c-4402-a640-46af0c267fb7.yaml
  config/project/fields/images--86dfc9bd-0363-4046-a638-26e03cd481da.yaml
  config/project/fields/media--afce72fb-dcb9-42e3-99d5-a4e1b6c32d71.yaml
  config/project/fields/plainBody--d544c7a1-06b0-46c7-b2a6-8987f2c6bd84.yaml
  config/project/fields/plainText--10e2197c-c763-463e-998a-a704543fd784.yaml
  config/project/fields/position--0f2289e3-d708-45a3-b730-da2a91d593e4.yaml
  config/project/fields/singleImage--f659e4e5-e885-4efe-918b-f9ea22bef550.yaml
  config/project/icon-picker/icon-sets/defaultCustomIcons--12976062-797d-4c3f-bba9-b08f9517d734.yaml
  config/project/icon-picker/icon-sets/defaultIconsFeather--8cdbea37-6d9b-4922-b11e-97df6d3660b2.yaml
  config/project/project.yaml
  config/project/sections/eventIndex--2860efd9-1878-471a-b7fd-2779d40dfb96.yaml
  config/project/sections/events--ae59b117-731a-4efe-83b6-33186b75a174.yaml
  config/project/volumes/files--7205ce0b-82c8-45e4-8400-08ceaf7f7576.yaml
  config/vite.php
  templates/index.twig
Due: format

fix composer.lock
  composer.lock
Due: none

Misc changes
  config/imager-x.php
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.mjs
Due: format, check

Allow for TypeScript stories
  .storybook/main.ts
  .storybook/preview.js
  modules/site-module/controllers/StorybookController.php
  templates/_components/organisms/text/text.mdx
  templates/_components/organisms/text/text.stories.ts
  templates/_components/organisms/text/text.twig
Due: format, check, tsc

Fix default value support in DefaultInclude
  .storybook/DefaultInclude.tsx
  templates/_components/organisms/text/text.stories.ts
Due: format, check, tsc

Port 'Organisms/Text with media' story to TS
  templates/_components/organisms/text/text.mdx
  templates/_components/organisms/text/text.stories.ts
  templates/_components/organisms/textMedia/textMedia.mdx
  templates/_components/organisms/textMedia/textMedia.stories.json
  templates/_components/organisms/textMedia/textMedia.stories.ts
Due: format, check, tsc

Move Storybook main config to defineMain
  .storybook/main.ts
Due: format, check, tsc

Very badly support {}/[] in DefaultInclude
  .storybook/DefaultInclude.tsx
Due: format, check, tsc

Clean up text content block
  config/project/entryTypes/text--c957c2ee-ff8a-4973-8111-58c21b775495.yaml
  config/project/project.yaml
Due: none

Set up the chunk handler
  .storybook/DefaultInclude.tsx
  templates/_blocks/chunksHandler.twig
  templates/_blocks/text.twig
  templates/_components/atoms/text/text.mdx
  templates/_components/atoms/text/text.stories.json
  templates/_components/atoms/text/text.stories.ts
  templates/_components/atoms/text/text.twig
  templates/_components/blocks.twig
  templates/_components/organisms/text/text.mdx
  templates/_components/organisms/text/text.stories.ts
  templates/_components/organisms/text/text.twig
  templates/_sections/pages/_entry.twig
Due: format, check, tsc

Upgrade Craft to 5.8.13.1
  composer.json
  composer.lock
Due: format

Remove CP field inspect
  composer.json
  composer.lock
  config/project/project.yaml
Due: format

Remove craft setup from post-create-project
  composer.json
  modules/site-module/controllers/StorybookController.php
Due: format

Update composer.json.default
  composer.json.default
Due: none

Actually install ImagerX's ImageBoss handler
  composer.json
  composer.json.default
  composer.lock
  config/project/project.yaml
  templates/_components/atoms/icon/icon.stories.ts
Due: format, check, tsc

Bump npm deps
  package.json
  pnpm-lock.yaml
Due: format

Upgrade to Storybook 10
  package.json
  patches/@storybook__addon-docs.patch
  patches/storybook.patch
  pnpm-lock.yaml
  templates/_components/atoms/badge/badge.stories.ts
  templates/_components/atoms/button/button.stories.ts
  templates/_components/atoms/divider/divider.stories.ts
  templates/_components/atoms/heading/heading.stories.ts
  templates/_components/atoms/icon/icon.stories.ts
  templates/_components/atoms/image/image.stories.ts
  templates/_components/atoms/logo/logo.stories.ts
  templates/_components/atoms/preHeading/preHeading.stories.ts
  templates/_components/atoms/skipToContent/skipToContent.stories.ts
  templates/_components/atoms/text/text.stories.ts
  templates/_components/atoms/video/video.stories.ts
  templates/_components/molecules/card/card.stories.ts
  templates/_components/molecules/heading/heading.stories.ts
  templates/_components/molecules/slider/slider.stories.ts
  templates/_components/molecules/videoPlayer/videoPlayer.stories.ts
  templates/_components/organisms/textMedia/textMedia.stories.ts
Due: format, check, tsc

Bump prettier-plugin-tailwindcss
  package.json
  pnpm-lock.yaml
Due: format

Upgrade lefthook, Swiper, and vite-plugin-restart
  package.json
  pnpm-lock.yaml
Due: format

Add some basic usage docs
  README.md
Due: none

Upgrade Craft to 5.8.19 and update plugins
  composer.json
  composer.json.default
  composer.lock
  config/project/project.yaml
Due: format

Remove LICENSE when creating project
  composer.json
Due: format

Configure convertFilenamesToAscii by default
  config/general.php
Due: none

Upgrade Craft to 5.9.1 and update plugins
  composer.json
  composer.json.default
  composer.lock
  config/project/entryTypes/articleType--bc6369ec-7f21-4151-a8ad-85cec976c987.yaml
  config/project/entryTypes/articles--54058ce4-020d-4535-9931-d69993419df7.yaml
  config/project/entryTypes/articlesGrid--74716a14-5d9a-4002-bc77-51f38589d539.yaml
  config/project/entryTypes/articlesIndex--1bf7f973-b634-4c7e-adbc-e71f1a4c70f8.yaml
  config/project/entryTypes/buttons--596b60e6-cde4-48fb-9853-a567dcb99ece.yaml
  config/project/entryTypes/errorPagese--5ec318c4-b6f4-4a56-92a5-f9b7edfbb635.yaml
  config/project/entryTypes/event--aa444200-2ca2-44f0-b001-737e424c99a8.yaml
  config/project/entryTypes/eventIndex--34e6d645-f593-49c5-bbed-6e80bd5b8fd4.yaml
  config/project/entryTypes/homepage--4f69e3ac-43b6-46cc-acad-80ce9804fd2a.yaml
  config/project/entryTypes/images--25165387-9136-4739-86cb-59a989b1c003.yaml
  config/project/entryTypes/pages--87add8ee-18cc-4272-8a4c-4fd06d16ec25.yaml
  config/project/entryTypes/quote--e325439d-f974-4c27-a2d9-2fe44cce12bb.yaml
  config/project/entryTypes/sharedBlock--057c8c38-dc14-4f4f-8bc8-14a7232d3905.yaml
  config/project/entryTypes/sharedBlocks--432be928-1cc7-435b-bd50-bf75c40a983c.yaml
  config/project/entryTypes/text--c957c2ee-ff8a-4973-8111-58c21b775495.yaml
  config/project/entryTypes/textMedia--cffde261-31c9-424a-9d39-86be6078c848.yaml
  config/project/entryTypes/videos--b5386dfa-66c8-4d08-bbcc-38503a3862c9.yaml
  config/project/project.yaml
  config/project/users/fieldLayouts/6bde0a0b-ec48-4fa4-8e54-e42e7e53c9f4.yaml
  config/project/volumes/files--7205ce0b-82c8-45e4-8400-08ceaf7f7576.yaml
Due: format

Bump npm dependencies
  package.json
  pnpm-lock.yaml
Due: format

add updates
  composer.json
  composer.lock
  config/project/ckeditor/configs/41e5ebbf-a8cc-4e04-95e6-9c888e2423e7.yaml
  config/project/ckeditor/configs/79253ff9-2016-4c72-9a06-3c35a6a690f4.yaml
  config/project/fields/body--437963f6-fffc-4014-921d-e13fd7b2315f.yaml
  config/project/fields/plainBody--d544c7a1-06b0-46c7-b2a6-8987f2c6bd84.yaml
  config/project/project.yaml
Due: format

add indexes structure
  config/project/entryTypes/articles--54058ce4-020d-4535-9931-d69993419df7.yaml
  config/project/entryTypes/articlesIndex--1bf7f973-b634-4c7e-adbc-e71f1a4c70f8.yaml
  config/project/entryTypes/eventsIndex--34e6d645-f593-49c5-bbed-6e80bd5b8fd4.yaml
  config/project/project.yaml
  config/project/sections/articlesIndex--82231ea7-a108-43d6-9a7a-78b4b9297fb2.yaml
  config/project/sections/eventIndex--2860efd9-1878-471a-b7fd-2779d40dfb96.yaml
  config/project/sections/events--ae59b117-731a-4efe-83b6-33186b75a174.yaml
  config/project/sections/homepage--0619bf3f-de22-4525-8261-a10f5454eee0.yaml
  config/project/sections/indexes--6548b4e4-c92a-4820-8d2f-065cbf1bda66.yaml
  templates/_blocks/images.twig
  templates/_sections/articles/_entry.twig
  templates/_sections/events/_entry.twig
  templates/_sections/indexes/_entry.twig
  templates/_sections/indexes/articlesIndex.twig
  templates/_sections/indexes/eventsIndex.twig
  templates/_sections/indexes/homepage.twig
  templates/_sections/pages/_entry.twig
  templates/index.twig
Due: format
