Repository brikdigital/craft-baseplate: changes, and which lefthook commands are due for each by the changed paths.
All: format, check, tsc

lefthook.yml:

pre-commit:
  piped: true
  commands:
    format:
      priority: 1
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,twig,css,pcss,json,jsonc,yml}'
      run: ddev exec npx prettier --write {staged_files} && git update-index --again
    check:
      priority: 2
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}'
      run:
        biome check --write --no-errors-on-unmatched --files-ignore-unknown=true
        --vcs-use-ignore-file=true {staged_files} && git update-index --again
    tsc:
      priority: 3
      glob: '*.{ts,d.cts,d.mts,tsx}'
      run: ddev exec npx tsc --noemit

Re-add the template composer.json
  composer.json.default
Due: none

Restore some lost composer.json fields
  composer.json
Due: format

Composer updates
  composer.json
Due: format

[WIP] Add image
  composer.json
  composer.lock
  config/imager-x.php
  config/project/project.yaml
  templates/components/atoms/image/image.stories.json
  templates/components/atoms/image/image.twig
  templates/components/atoms/image/image_OLD.twig
  templates/index.twig
Due: format

Add badge
  e.diff
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
  templates/_layouts/default.twig
  templates/components/atoms/badge/badge.mdx
  templates/components/atoms/badge/badge.stories.json
  templates/components/atoms/badge/badge.twig
  templates/components/atoms/button/button.stories.json
  templates/components/atoms/button/button.twig
  templates/components/atoms/heading/heading.stories.json
  templates/components/atoms/heading/heading.twig
Due: format, check, tsc

Add the Twig copy toolbar button to Storybook
  .ddev/config.yaml
  .storybook/Tool.tsx
  .storybook/manager.ts
  package.json
  pnpm-lock.yaml
Due: format, check, tsc

Alphabetically sort Storybook table categories
  package.json
  patches/@storybook__blocks.patch
  pnpm-lock.yaml
Due: format

Remove the Tailwind & Twig plugins from Prettier
  package.json
  patches/@destination__prettier-plugin-twig.patch
  pnpm-lock.yaml
  prettier.config.js
Due: format, check

Add the Storybook designs plugin
  .storybook/main.js
  package.json
  pnpm-lock.yaml
Due: format, check

Pin the used pnpm version
  package.json
Due: format

Add a pnpm command for ddev
  .ddev/commands/web/pnpm
Due: none

Replace npm command with pnpm
  .ddev/commands/web/npm
Due: none

Add icons
  src/public/img/icons/chevron-down.svg
  src/public/img/icons/chevron-left.svg
  src/public/img/icons/chevron-right.svg
  src/public/img/icons/chevron-up.svg
  src/public/img/icons/chevron.svg
  src/public/img/icons/close.svg
  src/public/img/icons/download.svg
  src/public/img/icons/hamburger.svg
  src/public/img/icons/magnify.svg
  src/public/img/icons/minus.svg
  src/public/img/icons/play.svg
  src/public/img/icons/plus.svg
  templates/components/atoms/badge/badge.stories.json
  templates/components/atoms/button/button.stories.json
  templates/components/atoms/icon/icon.mdx
  templates/components/atoms/icon/icon.stories.json
  templates/components/atoms/icon/icon.twig
  templates/index.twig
Due: format

Stop formatting Twig files
  lefthook.yml
  package.json
Due: format

Re-add button box plugin and add to default
  composer.json
  composer.json.default
  composer.lock
Due: format

Once again resync all the composer files
  composer.json
  composer.json.default
  composer.lock
Due: format

Update heading atoms/molecule
  templates/components/atoms/heading/heading.twig
  templates/components/atoms/preHeading/preHeading.mdx
  templates/components/atoms/preHeading/preHeading.stories.json
  templates/components/atoms/preHeading/preHeading.twig
  templates/components/molecules/heading/heading.mdx
  templates/components/molecules/heading/heading.stories.json
  templates/components/molecules/heading/heading.twig
Due: format

Update image atom
  composer.lock
  config/imager-x-transforms.php
  templates/components/atoms/image/image.stories.json
  templates/components/atoms/image/image.twig
Due: format

Update video
  templates/components/molecules/videoPlayer/videoPlayer.mdx
Due: none

Add card
  templates/components/molecules/card/card.mdx
  templates/components/molecules/card/card.stories.json
  templates/components/molecules/card/card.twig
Due: format

Add imageOverlay option to card
  templates/components/molecules/card/card.stories.json
  templates/components/molecules/card/card.twig
Due: format

Divider
  templates/components/atoms/divider/divider.mdx
  templates/components/atoms/divider/divider.stories.json
  templates/components/atoms/divider/divider.twig
Due: format

Autogenerate transforms for webp and avif
  config/imager-x-transforms.php
  config/imager-x.php
  config/project/project.yaml
  public_html/assets/images/.gitignore
  src/ts/components/lazysizes.ts
  tailwind.config.ts
  templates/components/atoms/image/image.twig
  templates/components/atoms/image/image_OLD.twig
Due: format, check, tsc

Add logo
  src/public/img/logo/logo.svg
  templates/components/atoms/logo/logo.mdx
  templates/components/atoms/logo/logo.stories.json
  templates/components/atoms/logo/logo.twig
  templates/components/molecules/card/card.twig
Due: format

Add social icons
  src/public/img/icons/facebook.svg
  src/public/img/icons/instagram.svg
  src/public/img/icons/linkedin.svg
  src/public/img/icons/vimeo.svg
  src/public/img/icons/whatsapp.svg
  src/public/img/icons/x.svg
  src/public/img/icons/youtube.svg
  templates/components/atoms/icon/icon.stories.json
Due: format

Add fetc priority and loading to images
  templates/components/atoms/image/image.stories.json
  templates/components/atoms/image/image.twig
Due: format

Add Craft queue daemon to DDEV
  .ddev/config.yaml
Due: none

Add text atom
  composer.json
  composer.lock
  package.json
  pnpm-lock.yaml
  src/img/icons/check-white.svg
  src/img/icons/check.svg
  src/pcss/app.pcss
  tailwind.config.ts
  templates/_macros/retcon.twig
  templates/components/atoms/text/text.mdx
  templates/components/atoms/text/text.stories.json
  templates/components/atoms/text/text.twig
Due: format, check, tsc

Add Video player / video
  .ddev/config.yaml
  composer.json
  composer.lock
  config/project/fields/media--afce72fb-dcb9-42e3-99d5-a4e1b6c32d71.yaml
  config/project/project.yaml
  package.json
  pnpm-lock.yaml
  src/pcss/app.pcss
  src/pcss/components/videoPlayer.pcss
  src/ts/app.ts
  src/ts/components/glightbox.ts
  src/ts/components/vidstack.ts
  src/ts/global.d.ts
  templates/components/atoms/video/video.mdx
  templates/components/atoms/video/video.stories.json
  templates/components/atoms/video/video.twig
  templates/components/molecules/videoPlayer/videoPlayer.stories.json
  templates/components/molecules/videoPlayer/videoPlayer.twig
Due: format, check, tsc

Add STORYBOOK variable
  modules/site-module/controllers/StorybookController.php
Due: none

Update prettier
  prettier.config.js
Due: format, check

Update favicon
  src/img/favicon-src.png
  src/img/favicon/favicon-src.svg
  vite.config.mjs
Due: format, check

Remove general.ts
  src/ts/app.ts
  src/ts/components/general.ts
Due: format, check, tsc

Clean up tailwind config
  tailwind.config.ts
Due: format, check, tsc

Add favicon to base
  templates/_layouts/default.twig
Due: format

Add minify to default layout
  templates/_layouts/default.twig
Due: format

Update paddings and margins
  templates/components/atoms/badge/badge.twig
  templates/components/atoms/button/button.twig
  templates/components/atoms/icon/icon.twig
  templates/components/molecules/heading/heading.twig
Due: format

Add slider
  src/pcss/app.pcss
  src/pcss/components/swiper.pcss
  src/ts/components/swiper.ts
  templates/components/molecules/card/card.stories.json
  templates/components/molecules/card/card.twig
  templates/components/molecules/slider/_partials/navigation.twig
  templates/components/molecules/slider/_partials/pagination.twig
  templates/components/molecules/slider/slider.mdx
  templates/components/molecules/slider/slider.stories.json
  templates/components/molecules/slider/slider.twig
  templates/components/molecules/videoPlayer/videoPlayer.stories.json
Due: format, check, tsc

Add full width slider story
  templates/components/molecules/card/card.twig
  templates/components/molecules/slider/slider.stories.json
Due: format

Text with media
  src/ts/components/swiper.ts
  templates/_sections/pages/_entry.twig
  templates/components/molecules/slider/slider.twig
  templates/components/molecules/videoPlayer/videoPlayer.twig
  templates/components/organisms/textMedia/textMedia.mdx
  templates/components/organisms/textMedia/textMedia.stories.json
  templates/components/organisms/textMedia/textMedia.twig
Due: format, check, tsc
